@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin-left: 7.5em;
    margin-right: 7.5em;
}

form {
    max-width: 50%;
    padding: 1em;
    margin: 1em;
    overflow: hidden;
}